In [2]:
import numpy as np
import pandas as pd

In [13]:
df=pd.read_csv('Review_samsung .csv')

In [14]:
df1=pd.read_csv('Review_samsung .csv')

In [15]:
df[' Product ID'].nunique()

241

In [16]:
df.head()

,Unnamed: 0,Product ID,Product Name,Category,Rating,Timestamp,Image URL,Price,Color,RAM,Storage,Descriptoin
0,0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,NaN,https://images.samsung.com/is/image/samsung/p6...,43990,white,NaN,NaN,3.35 kW Bespoke AI Inverter Split AC with 3 St...
1,1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,NaN,https://images.samsung.com/is/image/samsung/p6...,49990,white,NaN,NaN,4.8 kW Bespoke AI Inverter Split AC with 4 Sta...
2,2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,NaN,https://images.samsung.com/is/image/samsung/p6...,52990,white,NaN,NaN,4.75 kW Bespoke AI Inverter Split AC with 5 St...
3,3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,NaN,https://images.samsung.com/is/image/samsung/p6...,55990,white,NaN,NaN,4.75 kW Bespoke AI WindFree Inverter Split AC ...
4,4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,NaN,https://images.samsung.com/is/image/samsung/p6...,56990,white,NaN,NaN,4.75 kW Bespoke AI WindFree Inverter Split AC ...

In [17]:
df.drop(columns='Timestamp',inplace=True)
df.head()

,Unnamed: 0,Product ID,Product Name,Category,Rating,Image URL,Price,Color,RAM,Storage,Descriptoin
0,0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,https://images.samsung.com/is/image/samsung/p6...,43990,white,NaN,NaN,3.35 kW Bespoke AI Inverter Split AC with 3 St...
1,1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,https://images.samsung.com/is/image/samsung/p6...,49990,white,NaN,NaN,4.8 kW Bespoke AI Inverter Split AC with 4 Sta...
2,2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,52990,white,NaN,NaN,4.75 kW Bespoke AI Inverter Split AC with 5 St...
3,3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,55990,white,NaN,NaN,4.75 kW Bespoke AI WindFree Inverter Split AC ...
4,4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,56990,white,NaN,NaN,4.75 kW Bespoke AI WindFree Inverter Split AC ...

In [18]:
df.drop(columns='Unnamed: 0',inplace=True)
df.head()

,Product ID,Product Name,Category,Rating,Image URL,Price,Color,RAM,Storage,Descriptoin
0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,https://images.samsung.com/is/image/samsung/p6...,43990,white,NaN,NaN,3.35 kW Bespoke AI Inverter Split AC with 3 St...
1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,https://images.samsung.com/is/image/samsung/p6...,49990,white,NaN,NaN,4.8 kW Bespoke AI Inverter Split AC with 4 Sta...
2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,52990,white,NaN,NaN,4.75 kW Bespoke AI Inverter Split AC with 5 St...
3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,55990,white,NaN,NaN,4.75 kW Bespoke AI WindFree Inverter Split AC ...
4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,56990,white,NaN,NaN,4.75 kW Bespoke AI WindFree Inverter Split AC ...

In [19]:
df.drop(columns='Descriptoin',inplace=True)
df

,Product ID,Product Name,Category,Rating,Image URL,Price,Color,RAM,Storage
0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,https://images.samsung.com/is/image/samsung/p6...,43990,white,NaN,NaN
1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,https://images.samsung.com/is/image/samsung/p6...,49990,white,NaN,NaN
2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,52990,white,NaN,NaN
3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,55990,white,NaN,NaN
4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,56990,white,NaN,NaN
...,...,...,...,...,...,...,...,...,...
237,WAT_005,Samsung Galaxy Watch7 40mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/f7QbivEXxIW,29999,Green / Cream,1.5GB,16GB
238,WAT_006,Samsung Galaxy Watch7 40mm LTE,Smartwatch,4.4,https://sl.bing.net/fVou0kvoOB2,33999,Green / Cream,1.5GB,16GB
239,WAT_007,Samsung Galaxy Watch7 44mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/gtzFQONQcOO,32999,Green / Silver,1.5GB,16GB
240,WAT_008,Samsung Galaxy Watch7 44mm LTE,Smartwatch,4.4,https://sl.bing.net/hKI3AjqRELk,36999,Green / Silver,1.5GB,16GB
241,WAT_012,samsung galaxy watch6,Smartwatch,2.9,https://sl.bing.net/cGxSrNJGVc4,12599,Black,NaN,NaN

In [20]:
df['Description']=df1['Descriptoin']
df.head()

,Product ID,Product Name,Category,Rating,Image URL,Price,Color,RAM,Storage,Description
0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,https://images.samsung.com/is/image/samsung/p6...,43990,white,NaN,NaN,3.35 kW Bespoke AI Inverter Split AC with 3 St...
1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,https://images.samsung.com/is/image/samsung/p6...,49990,white,NaN,NaN,4.8 kW Bespoke AI Inverter Split AC with 4 Sta...
2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,52990,white,NaN,NaN,4.75 kW Bespoke AI Inverter Split AC with 5 St...
3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,55990,white,NaN,NaN,4.75 kW Bespoke AI WindFree Inverter Split AC ...
4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,56990,white,NaN,NaN,4.75 kW Bespoke AI WindFree Inverter Split AC ...

In [21]:
#to convert string type RAM & Storage columns into float values of GB,MB,TB.
import re

def convert_to_gb(value):
    if pd.isna(value):
        return None

    value = value.upper().replace(" ", "")
    
    number = float(re.findall(r"[\d.]+", value)[0])
    
    if "TB" in value:
        return number * 1024
    elif "MB" in value:
        return number / 1024
    else:  # GB
        return number

In [22]:
df['RAM_GB'] = df['RAM'].apply(convert_to_gb)
df['Storage_GB'] = df['Storage'].apply(convert_to_gb)

In [23]:
df.drop(columns=['RAM','Storage'],inplace=True)
df

,Product ID,Product Name,Category,Rating,Image URL,Price,Color,Description,RAM_GB,Storage_GB
0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,https://images.samsung.com/is/image/samsung/p6...,43990,white,3.35 kW Bespoke AI Inverter Split AC with 3 St...,NaN,NaN
1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,https://images.samsung.com/is/image/samsung/p6...,49990,white,4.8 kW Bespoke AI Inverter Split AC with 4 Sta...,NaN,NaN
2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,52990,white,4.75 kW Bespoke AI Inverter Split AC with 5 St...,NaN,NaN
3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,55990,white,4.75 kW Bespoke AI WindFree Inverter Split AC ...,NaN,NaN
4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,56990,white,4.75 kW Bespoke AI WindFree Inverter Split AC ...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
237,WAT_005,Samsung Galaxy Watch7 40mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/f7QbivEXxIW,29999,Green / Cream,"Smartwatch with Super AMOLED display, health t...",1.5,16.0
238,WAT_006,Samsung Galaxy Watch7 40mm LTE,Smartwatch,4.4,https://sl.bing.net/fVou0kvoOB2,33999,Green / Cream,Watch7 with cellular support and advanced sensors,1.5,16.0
239,WAT_007,Samsung Galaxy Watch7 44mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/gtzFQONQcOO,32999,Green / Silver,Larger dial Watch7 with Bluetooth connectivity...,1.5,16.0
240,WAT_008,Samsung Galaxy Watch7 44mm LTE,Smartwatch,4.4,https://sl.bing.net/hKI3AjqRELk,36999,Green / Silver,44mm LTE variant offering on the go connectivity,1.5,16.0
241,WAT_012,samsung galaxy watch6,Smartwatch,2.9,https://sl.bing.net/cGxSrNJGVc4,12599,Black,"Smartwatch with health tracking, fitness featu...",NaN,NaN

In [24]:
df.fillna(value=0,inplace=True)
df

,Product ID,Product Name,Category,Rating,Image URL,Price,Color,Description,RAM_GB,Storage_GB
0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,https://images.samsung.com/is/image/samsung/p6...,43990,white,3.35 kW Bespoke AI Inverter Split AC with 3 St...,0.0,0.0
1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,https://images.samsung.com/is/image/samsung/p6...,49990,white,4.8 kW Bespoke AI Inverter Split AC with 4 Sta...,0.0,0.0
2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,52990,white,4.75 kW Bespoke AI Inverter Split AC with 5 St...,0.0,0.0
3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,55990,white,4.75 kW Bespoke AI WindFree Inverter Split AC ...,0.0,0.0
4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,56990,white,4.75 kW Bespoke AI WindFree Inverter Split AC ...,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
237,WAT_005,Samsung Galaxy Watch7 40mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/f7QbivEXxIW,29999,Green / Cream,"Smartwatch with Super AMOLED display, health t...",1.5,16.0
238,WAT_006,Samsung Galaxy Watch7 40mm LTE,Smartwatch,4.4,https://sl.bing.net/fVou0kvoOB2,33999,Green / Cream,Watch7 with cellular support and advanced sensors,1.5,16.0
239,WAT_007,Samsung Galaxy Watch7 44mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/gtzFQONQcOO,32999,Green / Silver,Larger dial Watch7 with Bluetooth connectivity...,1.5,16.0
240,WAT_008,Samsung Galaxy Watch7 44mm LTE,Smartwatch,4.4,https://sl.bing.net/hKI3AjqRELk,36999,Green / Silver,44mm LTE variant offering on the go connectivity,1.5,16.0
241,WAT_012,samsung galaxy watch6,Smartwatch,2.9,https://sl.bing.net/cGxSrNJGVc4,12599,Black,"Smartwatch with health tracking, fitness featu...",0.0,0.0

In [ ]:
#Text Column which combined textual information of each product.
df['Text']=(df['Product Name']+" "+df['Description'])

In [ ]:
#to convert Text column into a vector of embeddings for each product.
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('all-MiniLM-L6-v2')
text_embeddings = model.encode(
    df['Text'].tolist(),
    show_progress_bar=True
)

c:\Users\mayur\.vscode\Datathon'2025\sicenv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Batches: 100%|██████████| 8/8 [00:04<00:00,  2.00it/s]

In [84]:
df.head()

,Product ID,Product Name,Category,Rating,Image URL,Price,Color,Description,RAM_GB,Storage_GB,Text
0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,https://images.samsung.com/is/image/samsung/p6...,43990,white,3.35 kW Bespoke AI Inverter Split AC with 3 St...,0.0,0.0,Bespoke AI Inverter Split AC AR50H12D1XH 3.35 ...
1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,https://images.samsung.com/is/image/samsung/p6...,49990,white,4.8 kW Bespoke AI Inverter Split AC with 4 Sta...,0.0,0.0,Bespoke AI Inverter Split AC AR50H18D14H 4.8 k...
2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,52990,white,4.75 kW Bespoke AI Inverter Split AC with 5 St...,0.0,0.0,Bespoke AI Inverter Split AC AR50H18D1ZH 4.75 ...
3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,55990,white,4.75 kW Bespoke AI WindFree Inverter Split AC ...,0.0,0.0,Bespoke AI WindFree Inverter Split AC AR60H18D...
4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,56990,white,4.75 kW Bespoke AI WindFree Inverter Split AC ...,0.0,0.0,Bespoke AI WindFree Inverter Split AC AR60H18D...

In [ ]:
#to convert categorical columns color and Category to one hot encodings.
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False)
cat_features = encoder.fit_transform(
    df[['Category', 'Color']]
)

In [ ]:
#to convert string type price column into float type prices.
import re

def clean_price(value):
    if pd.isna(value):
        return None
    value = str(value)
    value = re.sub(r'[^\d.]', '', value)  # keep digits & dot
    return float(value) if value else None

In [30]:
df['Price'] = df['Price'].apply(clean_price)

In [31]:
df.tail()

,Product ID,Product Name,Category,Rating,Image URL,Price,Color,Description,RAM_GB,Storage_GB,Text
237,WAT_005,Samsung Galaxy Watch7 40mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/f7QbivEXxIW,29999.0,Green / Cream,"Smartwatch with Super AMOLED display, health t...",1.5,16.0,Samsung Galaxy Watch7 40mm Bluetooth Smartwatc...
238,WAT_006,Samsung Galaxy Watch7 40mm LTE,Smartwatch,4.4,https://sl.bing.net/fVou0kvoOB2,33999.0,Green / Cream,Watch7 with cellular support and advanced sensors,1.5,16.0,Samsung Galaxy Watch7 40mm LTE Watch7 with cel...
239,WAT_007,Samsung Galaxy Watch7 44mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/gtzFQONQcOO,32999.0,Green / Silver,Larger dial Watch7 with Bluetooth connectivity...,1.5,16.0,Samsung Galaxy Watch7 44mm Bluetooth Larger di...
240,WAT_008,Samsung Galaxy Watch7 44mm LTE,Smartwatch,4.4,https://sl.bing.net/hKI3AjqRELk,36999.0,Green / Silver,44mm LTE variant offering on the go connectivity,1.5,16.0,Samsung Galaxy Watch7 44mm LTE 44mm LTE varian...
241,WAT_012,samsung galaxy watch6,Smartwatch,2.9,https://sl.bing.net/cGxSrNJGVc4,12599.0,Black,"Smartwatch with health tracking, fitness featu...",0.0,0.0,samsung galaxy watch6 Smartwatch with health t...

In [ ]:
#to scale values of numerical columns like price, RAM, Storage amd Rating to have uniform values within range 0-1.
from sklearn.preprocessing import MinMaxScaler

num_cols = ['RAM_GB', 'Storage_GB', 'Price', 'Rating']
scaler = MinMaxScaler()
num_features = scaler.fit_transform(df[num_cols])

In [33]:
final_features = np.hstack([
    text_embeddings * 2.0,   
    cat_features * 1.0,      
    num_features * 0.5 ]
)

In [35]:
df.to_csv('Review_samsung_afterML.csv')

In [3]:
df=pd.read_csv('Review_samsung_afterML.csv')
df

,Unnamed: 0,Product ID,Product Name,Category,Rating,Image URL,Price,Color,Description,RAM_GB,Storage_GB,Text
0,0,AIR_001,Bespoke AI Inverter Split AC AR50H12D1XH,Air Conditioner,4.3,https://images.samsung.com/is/image/samsung/p6...,43990.0,white,3.35 kW Bespoke AI Inverter Split AC with 3 St...,0.0,0.0,Bespoke AI Inverter Split AC AR50H12D1XH 3.35 ...
1,1,AIR_002,Bespoke AI Inverter Split AC AR50H18D14H,Air Conditioner,4.4,https://images.samsung.com/is/image/samsung/p6...,49990.0,white,4.8 kW Bespoke AI Inverter Split AC with 4 Sta...,0.0,0.0,Bespoke AI Inverter Split AC AR50H18D14H 4.8 k...
2,2,AIR_003,Bespoke AI Inverter Split AC AR50H18D1ZH,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,52990.0,white,4.75 kW Bespoke AI Inverter Split AC with 5 St...,0.0,0.0,Bespoke AI Inverter Split AC AR50H18D1ZH 4.75 ...
3,3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,55990.0,white,4.75 kW Bespoke AI WindFree Inverter Split AC ...,0.0,0.0,Bespoke AI WindFree Inverter Split AC AR60H18D...
4,4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,4.5,https://images.samsung.com/is/image/samsung/p6...,56990.0,white,4.75 kW Bespoke AI WindFree Inverter Split AC ...,0.0,0.0,Bespoke AI WindFree Inverter Split AC AR60H18D...
...,...,...,...,...,...,...,...,...,...,...,...,...
237,237,WAT_005,Samsung Galaxy Watch7 40mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/f7QbivEXxIW,29999.0,Green / Cream,"Smartwatch with Super AMOLED display, health t...",1.5,16.0,Samsung Galaxy Watch7 40mm Bluetooth Smartwatc...
238,238,WAT_006,Samsung Galaxy Watch7 40mm LTE,Smartwatch,4.4,https://sl.bing.net/fVou0kvoOB2,33999.0,Green / Cream,Watch7 with cellular support and advanced sensors,1.5,16.0,Samsung Galaxy Watch7 40mm LTE Watch7 with cel...
239,239,WAT_007,Samsung Galaxy Watch7 44mm Bluetooth,Smartwatch,4.4,https://sl.bing.net/gtzFQONQcOO,32999.0,Green / Silver,Larger dial Watch7 with Bluetooth connectivity...,1.5,16.0,Samsung Galaxy Watch7 44mm Bluetooth Larger di...
240,240,WAT_008,Samsung Galaxy Watch7 44mm LTE,Smartwatch,4.4,https://sl.bing.net/hKI3AjqRELk,36999.0,Green / Silver,44mm LTE variant offering on the go connectivity,1.5,16.0,Samsung Galaxy Watch7 44mm LTE 44mm LTE varian...
241,241,WAT_012,samsung galaxy watch6,Smartwatch,2.9,https://sl.bing.net/cGxSrNJGVc4,12599.0,Black,"Smartwatch with health tracking, fitness featu...",0.0,0.0,samsung galaxy watch6 Smartwatch with health t...

In [9]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer("all-MiniLM-L6-v2")

text_embeddings = model.encode(
    df["Text"].astype(str).tolist(),
    normalize_embeddings=True,
    show_progress_bar=False
)

Loading weights:   0%|          | 0/103 [00:00<?, ?it/s]

BertModel LOAD REPORT from: sentence-transformers/all-MiniLM-L6-v2
Key                     | Status     |  |
------------------------+------------+--+-
embeddings.position_ids | UNEXPECTED |  |

Notes:
- UNEXPECTED	:can be ignored when loading from different task/architecture; not ok if you expect identical arch.

In [11]:
print("Embeddings generated")
print("Shape:", text_embeddings.shape)
print("Norm check:", np.linalg.norm(text_embeddings[0]))

Embeddings generated
Shape: (242, 384)
Norm check: 1.0

In [12]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(sparse_output=False, handle_unknown="ignore")

cat_features = encoder.fit_transform(
    df[["Category", "Color"]]
)

In [14]:
from sklearn.preprocessing import MinMaxScaler

num_cols = ["RAM_GB", "Storage_GB", "Price", "Rating"]

scaler = MinMaxScaler()
num_features = scaler.fit_transform(df[num_cols])

In [16]:
from sklearn.preprocessing import normalize
final_features = np.hstack([
    text_embeddings * 2.0,   
    cat_features * 1.0,      
    num_features * 0.5       
])
final_features = normalize(final_features)

In [17]:
final_features

array([[-0.05003093,  0.01465189, -0.03402426, ...,  0.        ,
         0.01867539,  0.15833184],
       [-0.04632556,  0.03620436, -0.0123338 , ...,  0.        ,
         0.02128656,  0.16532748],
       [-0.05429704,  0.0145645 , -0.00798063, ...,  0.        ,
         0.02257546,  0.17230156],
       ...,
       [-0.06468052,  0.02393785,  0.00941873, ...,  0.00314507,
         0.01382899,  0.16534096],
       [-0.01394536,  0.03768983,  0.032473  , ...,  0.00314499,
         0.01558465,  0.16533669],
       [-0.04538897,  0.03080425,  0.01951562, ...,  0.        ,
         0.00493337,  0.05822154]])

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim_matrix = cosine_similarity(final_features)

In [24]:
class ProductRecommender:
    def __init__(self, dataframe, similarity_matrix):
        self.df = dataframe.reset_index(drop=True)
        self.similarity = similarity_matrix
        self.product_index = {
            pid: idx for idx, pid in enumerate(self.df[" Product ID"])
        }

    def recommend(self, product_id, top_k=5):
        if product_id not in self.product_index:
            raise ValueError("Invalid Product ID")

        idx = self.product_index[product_id]
        scores = self.similarity[idx]

        ranked_indices = np.argsort(scores)[::-1]
        ranked_indices = ranked_indices[ranked_indices != idx]

        return self.df.iloc[ranked_indices][:top_k][[
            " Product ID",
            "Product Name",
            "Category",
            "Price",
            "Rating"
        ]]

In [26]:
recommender = ProductRecommender(df, cosine_sim_matrix)
recommender.recommend("WAT_005", top_k=5)

,Product ID,Product Name,Category,Price,Rating
238,WAT_006,Samsung Galaxy Watch7 40mm LTE,Smartwatch,33999.0,4.4
234,WAT_002,Samsung Galaxy Watch8 40mm,Smartwatch,32999.0,4.6
241,WAT_012,samsung galaxy watch6,Smartwatch,12599.0,2.9
239,WAT_007,Samsung Galaxy Watch7 44mm Bluetooth,Smartwatch,32999.0,4.4
236,WAT_004,Samsung Galaxy Watch8 Classic 46mm,Smartwatch,46999.0,4.3

In [21]:
print(df.columns.tolist())

['Unnamed: 0', ' Product ID', 'Product Name', 'Category', 'Rating', 'Image URL', 'Price', 'Color', 'Description', 'RAM_GB', 'Storage_GB', 'Text']

In [29]:
def recommend_from_query(query, top_k=5):
    query_embedding = model.encode(
        [query],
        normalize_embeddings=True
    )

    query_vector = np.hstack([
        query_embedding * 2.0,
        np.zeros((1, cat_features.shape[1])),
        np.zeros((1, num_features.shape[1]))
    ])

    query_vector = normalize(query_vector)

    similarity = cosine_similarity(query_vector, final_features)[0]
    top_indices = similarity.argsort()[::-1][:top_k]

    return df.iloc[top_indices][[
        " Product ID",
        "Product Name",
        "Category",
        "Price",
        "Rating"
    ]]

In [30]:
recommend_from_query("LTE smartwatch with health tracking", 5)

,Product ID,Product Name,Category,Price,Rating
241,WAT_012,samsung galaxy watch6,Smartwatch,12599.0,2.9
234,WAT_002,Samsung Galaxy Watch8 40mm,Smartwatch,32999.0,4.6
237,WAT_005,Samsung Galaxy Watch7 40mm Bluetooth,Smartwatch,29999.0,4.4
233,WAT_001,Samsung Galaxy Watch Ultra,Smartwatch,59999.0,4.6
238,WAT_006,Samsung Galaxy Watch7 40mm LTE,Smartwatch,33999.0,4.4

In [59]:
def category_consistency(df, sim_matrix, top_k=10):
    matches = []
    for i in range(len(df)):
        top_indices = np.argsort(sim_matrix[i])[::-1][1: top_k+1]
        base_cat = df.iloc[i]["Category"]
        rec_cats = df.iloc[top_indices]["Category"]
        matches.append((rec_cats == base_cat).mean())
    return np.mean(matches)
def average_similarity(sim_matrix, top_k=10):
    scores = []
    for i in range(sim_matrix.shape[0]):
        sims = sim_matrix[i]
        top_indices = np.argsort(sims)[::-1][1: top_k+1]
        scores.append(sims[top_indices].mean())

    return np.mean(scores)

cat_score = category_consistency(df, cosine_sim_matrix)
print("Category Consistency:", cat_score)
avg_sim = average_similarity(cosine_sim_matrix, top_k=5)
print("Average Similrity :",avg_sim)

Category Consistency: 0.9714876033057852
Average Similarity : 0.8579846062127587

In [50]:
recommend_from_query("split air conditioner", 10)

,Product ID,Product Name,Category,Price,Rating
15,AIR_016,Bespoke AI WindFree Inverter Split AC AR60H18D1LW,Air Conditioner,55990.0,4.5
6,AIR_007,Bespoke AI WindFree Inverter Split AC AR60H18D1YW,Air Conditioner,55990.0,4.5
17,AIR_018,Bespoke AI WindFree Inverter Split AC AR60H18D1XW,Air Conditioner,55990.0,4.5
9,AIR_010,Bespoke AI WindFree Inverter Split AC AR60H18D1ZW,Air Conditioner,55990.0,4.5
4,AIR_005,Bespoke AI WindFree Inverter Split AC AR60H18D15W,Air Conditioner,56990.0,4.5
13,AIR_014,Bespoke AI WindFree Inverter Split AC AR60H19D1AW,Air Conditioner,60990.0,4.5
14,AIR_015,Bespoke AI WindFree Inverter Split AC AR60H18D1PW,Air Conditioner,57990.0,4.5
12,AIR_013,Bespoke AI WindFree Inverter Split AC AR60H19D13W,Air Conditioner,61990.0,4.5
3,AIR_004,Bespoke AI WindFree Inverter Split AC AR60H18D14W,Air Conditioner,55990.0,4.5
16,AIR_017,Bespoke AI WindFree Inverter Split AC AR60H18D13W,Air Conditioner,55990.0,4.5

In [58]:
recommender.recommend("TEL_050", top_k=10)

,Product ID,Product Name,Category,Price,Rating
183,TEL_045,189 cm (75) Neo QLED 8K QN800B Smart AI TV 2022,Television,349990.0,4.6
191,TEL_053,216 cm (85) Neo QLED 8K QN900A Smart AI TV 2021,Television,429990.0,4.7
178,TEL_040,163 cm (65) Neo QLED 8K QN800C Smart AI TV 2023,Television,269990.0,4.4
169,TEL_031,214 cm (85) Neo QLED QN950F 8K Samsung Vision ...,Television,429990.0,4.8
182,TEL_044,214 cm (85) Neo QLED 8K QN900D Smart AI TV 2024,Television,449990.0,4.8
168,TEL_030,163 cm (65) Neo QLED 8K QN800D Smart AI TV 2024,Television,269990.0,4.6
177,TEL_039,214 cm (85) Neo QLED 4K QN90C Smart AI TV 2023,Television,339990.0,4.6
170,TEL_032,189 cm (75) Neo QLED 4K QN90D Smart AI TV 2024,Television,319990.0,4.5
156,TEL_018,163 cm (65) QN900F Neo QLED 8K Smart TV 2025,Television,319990.0,4.9
194,TEL_056,247 cm (98) Neo QLED 4K QN90A Smart AI TV 2021,Television,359990.0,4.6